/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Fonts */
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2");
  src: url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2");
  src: url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-darkestgray: #666666;
  --basic-white: #ffffff;
  --basic-neutral: #eeeeee;

  --primary-decor-background: #81B3D2;
  --secondary-decor-background: #766357;
  --third-decor-background: #F2F2F2;
  --fourth-decor-background: #27393b;
  --line-decor-color: #E5E5E5;
  --button-decor-color: #ABABAB;

  --rest-icon-lightgray: #CACACA;
  --rest-icon-darkengray: #A9A9A9;
  --disabled-icon-color: #6A6A6A;
  --hover-primary-button: #669EC0;
  --active-primary-button: #5496BD;
  --hover-secondary-button: #604E43;
  --active-secondary-button: #503E33;
  --hover-background-input: #EBEBEB;
  --rest-logo-color: #231F20;
  --active-logo-color: #BDBBBC;

  --shadow-color-rgba: 0,1,1;
  --bg-white-rgba: 255,255,255;
  --active-black-rgba: 0,0,0;
  --toggle-shadow-rgba: 171,171,171;
}

/* >>> Global <<< */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--third-decor-background);

  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}

.img-options {
  max-width: 100%;
  height: auto;
  background-color: var(--button-decor-color);
  -o-object-fit: contain;
     object-fit: contain;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page {
  height: 100%;
}

.box-shadow {
  -webkit-box-shadow: 0px 5px 15px rgba(var(--shadow-color-rgba),0.2);
          box-shadow: 0px 5px 15px rgba(var(--shadow-color-rgba),0.2);
}

/* >>> Grid <<< */

.feature-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
}

.second-feature-pic {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.first-features-list,
.second-features-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / -1;
}

.main-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 6px auto 6px auto 6px auto 6px auto;
  grid-template-columns: repeat(5, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 6px;
}


.catalog-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
}


.hotel-name {
  grid-column: 1 / -1;
}


/* >>> Flex <<< */

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 13px;
}

.main-navigation {
  padding-left: 74px;
  padding-right: 74px;
}

.site-navigation li {
  width: 200px;
  text-align: left;
}

.site-navigation li:nth-child(4n+2) {
  margin-right: 200px;
}

.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4) {
  text-align: right;
}

.copyright-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sort-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sorting-list-up-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-wrapper span {
  width: 110px;
}

.info-wrapper p {
  padding-left: 6px;
  width: 142px;
}

.hotel-name h3 {
  margin: 0;
}

/* Navigation */

.main-header {
  width: 1200px;
  min-height: 56px;
  background-color: var(--basic-white);
}

.site-navigation li:nth-child(4n+1) {
  margin-right: 26px;
}

.site-navigation li:nth-child(4n+3) {
  margin-right: 26px;
}

.site-navigation a {
  color: var(--basic-black);
  text-decoration: none;
}

.site-navigation li:not(a) {
  color: var(--secondary-decor-background);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--primary-decor-background);
}

.site-navigation a:active {
  color: rgba(var(--active-black-rgba),0.3);
}

.main-header img {
  margin: auto;
  position: absolute;
  left: 0; right: 0;
  z-index: 2
}

a:focus .main-header-logo {
  outline: 2px solid var(--basic-black);
}


/* Main content */

.container {
  width: 1200px;
  background-color: var(--basic-white);
}

.main-intro {
  margin-bottom: 33px;
}

.intro-background {
  position: relative;
  height: 509px;
  background-image:
    url(../img/bg_photo_main.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: var(--fourth-decor-background);
  margin-bottom: 32px;
}

.intro-background::after {
  content: "";
  background-image:
    url(../img/bg_photo_main_shape.svg);
  background-repeat: no-repeat;
  bottom: 0;
  position: absolute;
  width: 1200px;
  height: 57px;
}

.main-intro img {
 display: block;
 padding-top: 77px;
 margin: 0px auto 123px auto;
}

.main-intro p {
  font-size: 21px;
  text-align: center;
  padding: 10px;
  margin: 0;
  background-color: var(--basic-white);
}

.features p {
  color: var(--basic-extra-dark);
  font-weight: normal;
  text-align: center;
  margin: 0;
  margin-bottom: 51px;
}

.first-features-list {
  margin-bottom: 82px;
}

.first-feature-item {
  padding-top: 161px;
  position: relative;
}

.home-icon::before {
  content: "";
  position: absolute;
  background-image: url(../img/home_icon.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  top: 60px;
  left: 162px;
}

.food-icon::before {
  content: "";
  position: absolute;
  background-image: url(../img/food_icon.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 75px;
  height: 70px;
  top: 62px;
  left: 160px;
}

.gift-icon::before {
  content: "";
  position: absolute;
  background-image: url(../img/gift_icon.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 64px;
  height: 77px;
  top: 58px;
  left: 167px;
}

.first-feature-item h3,
.coloring-item h3,
.second-feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
}

.first-feature-item h3 {
  margin-bottom: 25px;
}

.features-list p,
.features-list span {
  color: var(--basic-extra-dark);
  line-height: 21px;
  font-weight: normal;
}

.coloring-item {
  padding-top: 49px;
}

.coloring-item p {
  padding: 0 45px 50px;
}

.second-feature-item {
  padding-top: 47px;
}

.first-feature-item p,
.second-feature-item p,
.coloring-item p {
  margin: 0;
}

.first-feature-item p {
  padding: 0 50px;
}

.second-feature-item p {
  padding: 0 71px;
}

.coloring-item h3,
.second-feature-item h3 {
  margin-bottom: 27px;
}

.coloring-item span,
.second-feature-item span {
  display: block;
  margin-bottom: 23px;
}

.feature-item {
  text-align: center;
}

.coloring-item {
  background-color: var(--primary-decor-background);
  color: var(--basic-white);
  width: 400px;

}

.coloring-item span,
.coloring-item p {
  color: var(--basic-white);
}

.second-feature-item {
  background-color: var(--basic-neutral);
  padding-bottom: 54px;
}

.features-list {
  margin-bottom: 55px;
}

/* Searching section */

.searching-hotels img {
  display: block;
  position: relative;
  z-index: 1;
}

.searching-hotels iframe {
  display: block;
  position: absolute;
  z-index: 2;
}

.question {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding-right: 9px;
  margin-bottom: 33px;
}

.about-date {
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  margin-bottom: 45px;
  padding: 0 380px;
}

.form-center {
  width: 568px;
  margin: 0 auto;
  position: relative;
}

.button-search {
font: inherit;
font-size: 21px;
line-height: 26px;
text-align: center;
color: var(--basic-white);
font-weight: bold;
text-transform: uppercase;
border: none;
padding: 0;
}

.button-open {
  width: 100%;
  min-height: 86px;
  background-color: var(--secondary-decor-background);
  position: relative;
  z-index: 5;
}

.button-close-form {
  display: none;

}

.button-form-animation {
  -webkit-animation: bounce 2s;
          animation: bounce 2s;
}

.form-error {
  -webkit-animation: shake 1s;
          animation: shake 1s;
}

.button-open:hover {
  background-color: var(--hover-secondary-button);
}

.button-open:active {
  background-color: var(--active-secondary-button);
  outline: none;
}

.button-find {
  width: 458px;
  min-height: 58px;
  background-color: var(--primary-decor-background);
}

.button-find:hover {
  background-color: var(--hover-primary-button);
}

.button-find:active {
  background-color: var(--active-primary-button);
  outline: none;
}

/*   >>>>>>  Form searching hotels  <<<<<<  */

/* Убрать стрелки в Chrome */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Убрать стрелки у Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
/* Убрать стрелки Для других */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-item input::-webkit-input-placeholder {
  color: var(--basic-black);
}

.form-item input::-moz-placeholder {
  color: var(--basic-black);
}

.form-item input:-ms-input-placeholder {
  color: var(--basic-black);
}

.form-item input::-ms-input-placeholder {
  color: var(--basic-black);
}

.form-item input::placeholder {
  color: var(--basic-black);
  opacity: 1;
}

.min-max-cost input::-webkit-input-placeholder {
  color: var(--basic-white);
}

.min-max-cost input::-moz-placeholder {
  color: var(--basic-white);
}

.min-max-cost input:-ms-input-placeholder {
  color: var(--basic-white);
}

.min-max-cost input::-ms-input-placeholder {
  color: var(--basic-white);
}

.min-max-cost input::placeholder {
  color: var(--basic-white);
  opacity: 1;
}

/*
В Safari и Chrome стиль текста меняется
input::-webkit-input-placeholder {
  color: var(--basic-black);
}

в атрибуте placeholder в Firefox применяется псевдокласс ::-moz-placeholder.
input::-moz-placeholder {
   color: var(--basic-black);
 }
*/

.searching-hotels-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.adults-kids-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar-item {
  position: relative;
}

.form-wrapper-shadow {
  padding: 55px;
  -webkit-box-shadow: 0px 7px 15px rgba(var(--shadow-color-rgba),0.15);
          box-shadow: 0px 7px 15px rgba(var(--shadow-color-rgba),0.15);
  position: absolute;
  background-color: var(--basic-white);
  z-index: 4;
}

.form-item label {
  width: 110px;
}

.form-item {
  margin: 0;
  margin-bottom: 30px;
}

.form-item:nth-child(3),
.form-item:nth-child(4) {
  margin-bottom: 53px;
}

.name-item-kids {
  padding-left: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-item input,
.adults-kids-wrapper input {
  background-color: var(--third-decor-background);
  color: var(--basic-black);
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  padding: 0;
  height: 38px;
}

.form-item input[type="text"] {
  padding-left: 13px;
  width: 333px;
}

.adults-kids-wrapper input[type="number"] {
  width: 38px;
  text-align: center;
  margin-right: 14px;
}

.adults-kids-wrapper {
  padding-left: 14px;
  width: 114px;
  background-color: var(--third-decor-background);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.calendar {
  position: absolute;
  width: 21px;
  height: 23px;
  border: none;
  left: 430px;
  top: 7px;
  padding: 0;
}

.calendar:hover path {
  fill: var(--basic-black);
}

.calendar:active path {
  fill: var(--primary-decor-background);
}

.calendar:focus {
  outline-width: 2px;
  outline-offset: 3px;
  outline-style: outset;
}

.more:focus,
.less:focus {
  outline-width: 2px;
  outline-offset: 3px;
  outline-style: outset;
}

.more {
  border: none;
  padding: 0;
  height: 30px;
}

.less {
  border: none;
  padding: 0;
  margin-right: 14px;
  padding-bottom: 8px;
  height: 30px;
}

.more:hover path {
  fill: var(--basic-black);
}

.less:hover rect {
  fill: var(--basic-black);
}

.more:active path {
  fill: var(--primary-decor-background);
}

.less:active rect {
  fill: var(--primary-decor-background);
}

/* Main footer */

.main-footer {
  background-color: rgba(var(--bg-white-rgba),0.9);
  width: 1200px;
  min-height: 120px;
  padding-top: 9px;
  padding-left: 73px;
  padding-right: 73px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 5;
}

.negative-margin {
  margin-top: -120px;
}

.contacts {
  font-size: 21px;
  text-align: center;
  padding-bottom: 23px;
  margin-right: 25px;
}

.contacts p {
  margin: 0;
}

.contacts span {
  display: block;
  margin-bottom: 10px;
}

.contact-phone {
  color: inherit;
  text-decoration: none;
}


.socials {
  padding-left: 13px;
  padding-bottom: 10px;
}

.social-button {
  display: block;
  background-color: var(--primary-decor-background);
  width: 46px;
  height: 48px;
  position: relative;
}

.social-tw::before {
  content: "";
  position: absolute;
  background-image: url(../img/twitter_icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 17px;
  height: 17px;
}

.social-fb::before {
  content: "";
  position: absolute;
  background-image: url(../img/fb_icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 12px;
  height: 22px;
}

.social-tube::before {
  content: "";
  position: absolute;
  background-image: url(../img/youtube_icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 20px;
  height: 16px;
}

.social-tw:active::before,
.social-tube:active::before,
.social-fb:active::before {
  opacity: 0.3;
}

.social-button:hover {
  background-color: var(--hover-primary-button);
}

.social-button:active {
  background-color: var(--active-primary-button);
}

.footer-copyright {
  text-align: center;
  font-weight: normal;
  margin: 0;
  margin-right: 10px;
}

.copyright-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 25px;
  padding-bottom: 7px;
}

.logo-academy:hover path {
  fill: var(--primary-decor-background);
}

.logo-academy:active path {
  fill: var(--active-logo-color);
}

.logo-button:focus {
  outline-offset: 5px;
  outline: 2px solid var(--basic-black);
}

/* >> Filter << */

.filter-catalog {
  background-image: url(../img/bg_catalog_filter.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-color: var(--fourth-decor-background);
  width: 100%;
  min-height: 217px;
  color: var(--basic-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 74px;
  padding-right: 74px;
  padding-top: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fields-items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hotels-type {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.infrastructura {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.filter-catalog fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.field-tittle {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 24px;
}

.field-item label {
  line-height: 21px;
  font-weight: normal;
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.field-item .infrastructura-label-wrapper  {
  padding-left: 37px;
}

.field-item .hotels-label-wrapper {
  padding-left: 41px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  background-image: url(../img/checkbox_off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  background-image: url(../img/checkbox_on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 27px;
  height: 23px;
  top: 0;
  left: 0px;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  background-image: url(../img/checkbox_off_dis.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
}

.filter-input-checkbox:disabled:checked + label::before {
  content: "";
  position: absolute;
  background-image: url(../img/checkbox_on_dis.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 27px;
  height: 23px;
  top: 0;
  left: 0;
}

.filter-input-checkbox:focus + label {
  outline-offset: 5px;
  outline: 2px solid var(--basic-black);
}

.range-filter {
  width: 317px;
}

.field-title-wrapper {
  margin-bottom: 11px;
}

.min-max-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-start;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  height: 36px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  padding-left: 67px;
  padding-bottom: 2px;
}

.min-max-cost label {
  line-height: 21px;
  font-weight: 400;
  display: block;
}

.min-max-cost input {
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  width: 50px;
  color: var(--basic-white);
  display: block;
}

.min-max-cost input:nth-child(2) {
  margin-right: 75px;
}

.min-max-cost::after {
  content: "";
  position: absolute;
  left: 158px;
  top: 5px;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

.range-controls {
  width: 316px;
  margin-bottom: 33px;
  position: relative;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(var(--bg-white-rgba),0.3);
}

.range-controls .bar {
  height: 2px;
  width: 80%;
  background-color: var(--basic-white);
  margin-left: 10px;
}

.range-controls .toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: var(--button-decor-color);
  border: 8px solid var(--basic-white);
  -webkit-box-shadow: 0 2px 0 0 rgba(var(--toggle-shadow-rgba),0.3);
          box-shadow: 0 2px 0 0 rgba(var(--toggle-shadow-rgba),0.3);
  border-radius: 50%;
  left: 0;
  top: -9px;
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 253px;
}

.range-controls .toggle:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.range-filter .button-show-price {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  width: 137px;
  min-height: 36px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-color: transparent;
  margin-left: 86px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.range-filter .button-show-price:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.range-filter .button-show-price:focus {
  outline-offset: 3px;
  outline: 2px solid var(--basic-black);
}

/* >> Sorting list << */

.sorting-list {
  width: 742px;
}

.sort-block {
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 30px;
  margin-bottom: 31px;
}

.sort-block b {
  min-width: 142px;
  margin-right: 22px;
}

.sort-block span {
  margin-right: 40px;
  padding-bottom: 7px;
}

.sorting-item {
  margin-right: 33px;
  padding-bottom: 5px;
}

.sorting-item a {
  display: block;
}

.filter b {
  font-size: 21px;
}

.filter span {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.sorting-item a {
font-weight: normal;
font-size: 12px;
line-height: 18px;
text-decoration: none;
color: rgba(var(--active-black-rgba),0.3);
border-bottom: 1px dotted var(--primary-decor-background);
}

.active-item a {
  color: var(--primary-decor-background);
  border-bottom: 1px dotted transparent;
}

.sorting-item a:hover {
  color: var(--primary-decor-background);
  border-bottom: 1px dotted var(--primary-decor-background);
}

.sorting-item a:active {
  color: var(--basic-black);
  border-bottom: 1px solid transparent;
}

.sorting-item-icon {
  padding-top: 3px;
}

.list-up {
  display: block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid var(--rest-icon-lightgray);
}

.list-down {
  display: block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid var(--primary-decor-background);
}

.sorting-item-icon:nth-child(2n+1) {
  margin-right: 13px;
}

.list-up:hover {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--basic-black);
}

.list-down:hover {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--basic-black);
}

.list-up:active {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--primary-decor-background);
}

.list-down:active {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--primary-decor-background);
}


/* Hotels */


.catalog-item a {
  text-decoration: none;
}

.catalog-item {
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 23px;
  padding-bottom: 23px;
  border-top: 1px solid var(--line-decor-color);
}

.catalog-item:last-child {
  border-bottom: 1px solid var(--line-decor-color);
}

.info-wrapper {
  margin-bottom: 15px;
}


.hotel-name {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 6px;
  color: var(--basic-black);
}

.hotel-name:hover {
  color: var(--primary-decor-background);
}

.hotel-name:active {
  color: rgba(var(--active-black-rgba),0.3);
}

.hotel-name h3 {
  line-height: 26px;
  font-size: 21px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.hotel-pic {
  padding-top: 5px;
  margin-right: 29px;
}

.catalog-item span,
.catalog-item p {
font-weight: normal;
line-height: 21px;
color: var(--basic-extra-dark);
margin: 0;
}

.rating p {
font-weight: normal;
line-height: 21px;
color: var(--basic-darkestgray);
background-color: var(--third-decor-background);
text-align: center;
width: 110px;
padding: 3px 0 3px 0;
}

.stars-list {
  background-image: url(../img/star_icon.svg);
  background-repeat: space;
  background-position: 0 0;
  height: 17px;

}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 4px 0 9px 0;
}

.four-stars {
  width: 88px;
}

.three-stars {
  width: 65px;
}

.two-stars {
  width: 40px;
}

.villas-item {
  padding-top: 25px;
}

.desert-item {
  padding-top: 25px;
}

.button-details {
  margin-right: 7px;
  text-align: center;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--primary-decor-background);
}

.button-details:hover {
  background-color: var(--hover-primary-button);
}

.button-details:active {
  background-color: var(--active-primary-button);
}

.button-reserve {
  text-align: center;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--secondary-decor-background);
}

.button-details:focus,
.button-reserve:focus {
  outline-offset: 3px;
  outline: 2px solid var(--basic-black);
}

.catalog-button-padding {
  padding: 3px 17px 3px 16px;
}

.button-reserve:hover {
  background-color: var(--hover-secondary-button);
}

.button-reserve:active {
  background-color: var(--active-secondary-button);
}

/* Animations */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
  }

@keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
  }
