/* Fonts */
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2");
  src: url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2");
  src: url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
position: absolute;
clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
clip: rect(1px, 1px, 1px, 1px);
padding: 0;
border: 0;
height: 1px;
width: 1px;
overflow: hidden;
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-darkestgray: #666666;
  --basic-white: #ffffff;
  --basic-neutral: #eeeeee;

  --primary-decor-background: #81B3D2;
  --secondary-decor-background: #766357;
  --thirdly-decor-background: #F2F2F2;
  --line-decor-color: #E5E5E5;
  --button-decor-color: #ABABAB;

  --rest-icon-lightgray: #CACACA;
  --rest-icon-darkengray: #A9A9A9;
  --disabled-icon-color: #6A6A6A;
  --hover-primary-button: #669EC0;
  --active-primary-button: #5496BD;
  --hover-secondary-button: #604E43;
  --active-secondary-button: #503E33;
  --hover-background-input: #EBEBEB;
  --rest-logo-color: #231F20;
  --active-logo-color: #BDBBBC;
}

/* Global */
.page-body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--thirdly-decor-background);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-content: center;

}

.img-options {
  max-width: 100%;
  height: auto;
  background-color: var(--button-decor-color);
}

.list-reset {
  list-style: none;
  padding: 0;
}

/* >>> Grid <<< */

.page {
  height: 100%;
}

.main-footer {
  width: 1200px;
}

.main-header {
  width: 1200px;
}

.features-list {
  outline: 5px solid rgba(255, 0, 0, 0.6);
  outline-offset: -5px;
  display: grid;
}

.feature-item {
  outline: 5px solid rgba(0, 255, 0, 0.6);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.first-features-list {
  outline: 5px solid rgba(0, 255, 255, 0.6);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / -1;
}

.second-features-list {
  outline: 5px solid rgba(0, 255, 255, 0.6);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / -1;
}


/* Navigation */
.main-navigation {
  background-color: var(--basic-white);
}

.site-navigation {
  text-align: center;
}

.site-navigation a {
  color: var(--basic-black);
  text-decoration: none;
}

.site-navigation li:not(a) {
  color: var(--secondary-decor-background);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--primary-decor-background);
}

.site-navigation a:active {
  color: rgba(0,0,0,0.3);
}

/* Main content */
.container {
  width: 1200px;
  background-color: var(--basic-white);
}

.main-intro img {
  /*outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;*/
}

.main-intro p {
  font-size: 21px;
  text-align: center;
}

.features p {
  color: var(--basic-extra-dark);
  font-weight: normal;
  text-align: center;
}

.features-list h3 {
  font-size: 21px;
  line-height: 21px;
}

.features-list p,
.features-list span {
  color: var(--basic-extra-dark);
  line-height: 21px;
  font-weight: normal;
}

.feature-item {
  text-align: center;
}

.coloring-item {
  background-color: var(--primary-decor-background);
  color: var(--basic-white);
}

.coloring-item span,
.coloring-item p {
    color: var(--basic-white);
}

.second-feature-item {
  background-color: var(--basic-neutral);
}

/* Searching section */

.question {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}

.about-date {
  line-height: 24px;
  font-weight: normal;
  text-align: center;
}

.button-search {
font: inherit;
font-size: 21px;
line-height: 26px;
text-align: center;
color: var(--basic-white);
font-weight: bold;
text-transform: uppercase;
border: none;
}

.button-open {
  background-color: var(--secondary-decor-background);
}

.button-open:hover {
  background-color: var(--hover-secondary-button);
}

.button-open:active {
  background-color: var(--active-secondary-button);
  outline: none;
}

.button-find {
  background-color: var(--primary-decor-background);
}

.button-find:hover {
  background-color: var(--hover-primary-button);
}

.button-find:active {
  background-color: var(--active-primary-button);
  outline: none;
}

/* Main footer */

.main-footer {
  background-color: rgba(255,255,255,0.9);
}

.contacts {
  font-size: 21px;
  text-align: center;
}

.contact-phone {
  color: inherit;
  text-decoration: none;
}

.social-button {
  background-color: var(--primary-decor-background);
}

.social-button:hover {
  background-color: var(--hover-primary-button);
}

.social-button:active {
  background-color: var(--active-primary-button);
}

.footer-copyright {
  text-align: center;
  font-weight: normal;
}

/*
.logo-button svg {
  fill: var(--rest-logo-color);
}

.logo-button svg:hover {
  fill: #81B3D2;
}

.logo-button svg:active {
  fill: var(--active-logo-color);
}
*/

/* Filter */

.filter b {
  font-size: 21px;
}

.filter span {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.sorting-item a {
font-weight: normal;
font-size: 12px;
line-height: 18px;
text-decoration: none;
color: rgba(0,0,0,0.3);
border-bottom: 1px dashed var(--primary-decor-background);
}

.active-item a {
  color: var(--primary-decor-background);
  border-bottom: none;
}

.sorting-item a:hover {
  color: var(--primary-decor-background);
  border-bottom: 1px dashed var(--primary-decor-background);
}

.sorting-item a:active {
  color: var(--basic-black);
  border-bottom: none;
}
/* Место для стилей иконок */

/* Hotels */

.catalog-item a {
  text-decoration: none;
}

.hotel-name {
  font-size: 21px;
  color: var(--basic-black);
}

.hotel-name:hover {
  color: var(--primary-decor-background);
}

.hotel-name:active {
  color: rgba(0,0,0,0.3);
}

.catalog-item span,
.catalog-item p {
font-weight: normal;
line-height: 21px;
color: var(--basic-extra-dark);
}

.rating p {
font-weight: normal;
line-height: 21px;
color: var(--basic-darkestgray);
background-color: var(--thirdly-decor-background);
text-align: center;
}

.button-details {
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--primary-decor-background);
}

.button-details:hover {
  background-color: var(--hover-primary-button);
}

.button-details:active {
  background-color: var(--active-primary-button);
}

.button-reserve {
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--secondary-decor-background);
}

.button-reserve:hover {
  background-color: var(--hover-secondary-button);
}

.button-reserve:active {
  background-color: var(--active-secondary-button);
}
